In [18]:
import pandas as pd
import numpy as np
B=pd.read_csv("boissons_evaluees.csv")

In [2]:
B.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [41]:
bf=B.points.value_counts()
print("Les critiques les plus frequentes sont: ",bf.index[0:6])
Critique=B.taster_twitter_handle.value_counts()
Critique

Int64Index([88, 87, 90, 86, 89, 91], dtype='int64')

@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_twitter_handle, dtype: int64

In [8]:
somme_donnee=int(input("Entrez la somme:"))
g=B.loc[B.loc[:,"price"]<=somme_donnee]
meilleure=g.points/g.price
g.insert(2,"best",meilleure,allow_duplicates=False)
meilleure_boisson=g.loc[g.loc[:,"best"]==np.nanmax(meilleure)]
print("La meilleure boisson est", meilleure_boisson.title)

Entrez la somme:5
La meilleure boisson est 64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
Name: title, dtype: object

In [12]:
tri_bois=B.groupby('price').points.max()
boiss_tri=tri_bois.sort_values(ascending=True)
boiss_tri

price
4.0        86
5.0        87
790.0      87
181.0      88
3300.0     88
         ...
617.0     100
450.0     100
650.0     100
460.0     100
150.0     100
Name: points, Length: 390, dtype: int64

In [14]:
var_min=B.groupby('variety').price.min()
var_max=B.groupby('variety').price.max()
print(var_min)
var_max

variety
Abouriou       15.0
Agiorgitiko    10.0
Aglianico       6.0
Aidani         27.0
Airen           8.0
               ...
Zinfandel       5.0
Zlahtina       13.0
Zweigelt        9.0
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

variety
Abouriou        75.0
Agiorgitiko     66.0
Aglianico      180.0
Aidani          27.0
Airen           10.0
               ...
Zinfandel      100.0
Zlahtina        16.0
Zweigelt        70.0
Çalkarası       19.0
Žilavka         15.0
Name: price, Length: 707, dtype: float64

In [16]:
Var=pd.DataFrame({"Prix Min":var_min,"Prix Max":var_max})
Var

             Prix Min  Prix Max
variety
Abouriou         15.0      75.0
Agiorgitiko      10.0      66.0
Aglianico         6.0     180.0
Aidani           27.0      27.0
Airen             8.0      10.0
...               ...       ...
Zinfandel         5.0     100.0
Zlahtina         13.0      16.0
Zweigelt          9.0      70.0
Çalkarası        19.0      19.0
Žilavka          15.0      15.0

[707 rows x 2 columns]

In [20]:
Moyenne_Taster=B.groupby('taster_name').points.mean()
Moyenne_Taster

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

In [21]:
prix_manquant=B[pd.isnull(B.price)]
print("Sur ",len(B),"avis,il manque ",len(prix_manquant))

Sur  129971 avis,il manque  8996